@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: cadetblue;   
       
}

header {
    background-color: orange;
    text-align: center;
}

header h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Pangolin", cursive; 
        
}

section {
    
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 50px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 3vw;
}

section > p {
    padding-bottom: 15px;
}

section.normal {
    background-color: beige;
       
}

section.imagem {
    background-color: rgb(75, 75, 75);
    color: white;
    box-shadow: inset 5px 5px 15px 0px rgba(0, 0, 0, 0.662);
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 20px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), black);
    }

section#img1 {
    background-image: url(../shoyu2G.jpg);
    
}

section#img2 {
    background-image: url(../shoyu3G.jpg);
    
}

footer {
    background-color: orange;
    text-align: center;
    padding: 10px;
    font-family: "Pangolin", cursive;
}